[submodule "vim/pack/airblade/start/vim-gitgutter"]
	path = vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-bufkill"]
	path = vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
